<h1>密码重置</h1>

<p>点击以下链接，重置您的密码:</p>

<%= link_to "密码重置", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>链接两小时内有效.</p>

<p>
如果您不要需重置密码，请忽略此邮件！
</p>
