<% provide(:title, '用户注册') %>
<% provide(:button_text, '用户注册') %>
<h1>用户注册</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>e for new users.</p>
